{% extends "master.html" %} 

 {% block content %}

 
 <h2 style="width: 90%; margin: auto;">
<header>
    <h1 style="text-align: center;">Introduction to Python</h1>
</header>
<main>
    <section>
        <h2>What is Python?</h2>
        <p>
            Python is a versatile and powerful high-level programming language known for its simplicity and readability.
            It is widely used for web development, data science, artificial intelligence, scientific computing, and many other applications.
            Python emphasizes code readability and simplicity, making it an excellent choice for beginners and professionals alike.
        </p>
    </section>
    <section>
        <h2>Key Features of Python</h2>
        <ul>
            <li>Easy to Read, Learn, and Write: Python has a simple syntax that is similar to English, making it easier to read and understand.</li>
            <li>Interpreted Language: Python is an interpreted language, meaning that the code is executed line by line, which makes debugging easier.</li>
            <li>Extensive Libraries and Frameworks: Python has a vast collection of libraries and frameworks, such as NumPy, Pandas, Django, Flask, and TensorFlow, which make development faster and more efficient.</li>
            <li>Cross-Platform Compatibility: Python code can run on various platforms like Windows, macOS, and Linux without needing significant modifications.</li>
            <li>Strong Community Support: Python has a large, active community that contributes to its libraries, frameworks, and tools, making it easier to find solutions and resources.</li>
        </ul>
    </section>
</main>
</h2>
<footer>
    <p style="text-align: center;">Written by Ankush Gupta</p>
</footer>

{% endblock %}
