{% extends "master.html" %} 


{% block content %}

<h2 style="width: 90%; margin: auto;"><header>
    <h1>Introduction to Django</h1>
</header>
<main>
    <section>
        <h2>What is Django?</h2>
        <p>
            Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.
            Built by experienced developers, it takes care of much of the hassle of web development, so you can focus
            on writing your app without needing to reinvent the wheel.
        </p>
    </section>
    <section>
        <h2>Key Features of Django</h2>
        <ul>
            <li>Ridiculously fast: Django was designed to help developers take applications from concept to completion as quickly as possible.</li>
            <li>Reassuringly secure: Django takes security seriously and helps developers avoid many common security mistakes.</li>
            <li>Exceedingly scalable: Django can handle high traffic and large projects, making it suitable for both small startups and large enterprises.</li>
            <li>Versatile and powerful: With a wide range of built-in features and an active community, Django can be used for all kinds of projects.</li>
        </ul>
    </section>
</main></h2>

{% endblock  %}