body{
    background-color: aqua;
}
/* 
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
} */

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    color: white;
    font: bold;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
