<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to AIDS Departments!!</h1>
    <form action="/submit" method="post">
        <div>
            <label >Science</label><br>
            <input type="text" id='science' name="science" value="0">
        </div>
        <div>
            <label >Math</label><br>
            <input type="text" id='math' name="math" value="0">
        </div>
        <div>
            <label >Python</label><br>
            <input type="text" id='python' name="python" value="0">
        </div>
        <div>
            <label >Django</label><br>
            <input type="text" id='django' name="django" value="0">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>